$varelaRound: 'Varela Round', sans-serif;
$Pacifico:'Pacifico', cursive;
$stroke:#33272a;
$background-one:#fffffe;
$background-two:#faeee7;
$card-background:#001858;
$card-text-background: #fef6e4;
$board-tripleWord:#ff8e3c;
$board-tripleLetter:#abd1c6;
$board-doubleWord:#ff5470;
$board-doubleLetter:#8bd3dd;
$board-tiles:#fffffe;
$button:#fffffe;
$button-text:#0d0d0d;
$animation: #0f0e17;
$player-tiles:#f3d2c1;
$tile-hw:20px;
$tile-p:10px;
